In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
# train data
train = pd.read_csv("./archive/Train-1542865627584.csv")
train_inpatient = pd.read_csv("./archive/Train_Inpatientdata-1542865627584.csv")
train_outpatient = pd.read_csv("./archive/Train_Outpatientdata-1542865627584.csv")
train_beneficiary = pd.read_csv("./archive/Train_Beneficiarydata-1542865627584.csv")

# test data
test = pd.read_csv("./archive/Test-1542969243754.csv")
test_inpatient = pd.read_csv("./archive/Test_Inpatientdata-1542969243754.csv")
test_outpatient = pd.read_csv("./archive/Test_Outpatientdata-1542969243754.csv")
test_beneficiary = pd.read_csv("./archive/Test_Beneficiarydata-1542969243754.csv")

In [3]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [4]:
train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [5]:
train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [6]:
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [7]:
# Convert 'DOB' and 'DOD' to datetime format
train_beneficiary['DOB'] = pd.to_datetime(train_beneficiary['DOB'], format='%Y-%m-%d')
train_beneficiary['DOD'] = pd.to_datetime(train_beneficiary['DOD'], format='%Y-%m-%d')
test_beneficiary['DOB'] = pd.to_datetime(test_beneficiary['DOB'], format='%Y-%m-%d')
test_beneficiary['DOD'] = pd.to_datetime(test_beneficiary['DOD'], format='%Y-%m-%d')

# Calculate age in years and round to the nearest integer
train_beneficiary['Age'] = round((train_beneficiary['DOD'] - train_beneficiary['DOB']).dt.days / 365)
test_beneficiary['Age'] = round((test_beneficiary['DOD'] - test_beneficiary['DOB']).dt.days / 365)

In [8]:
train_beneficiary['DOD'].max()

Timestamp('2009-12-01 00:00:00')

In [9]:
# The final DOD date is '2009-12-01' . We can use that to calculate the ages of those with no DOD

# Convert 'DOB' to datetime format
train_beneficiary['DOB'] = pd.to_datetime(train_beneficiary['DOB'], format='%Y-%m-%d')
test_beneficiary['DOB'] = pd.to_datetime(test_beneficiary['DOB'], format='%Y-%m-%d')

# Calculate age for beneficiaries with missing 'Age' values, assuming 2009-12-01 as the reference date
train_beneficiary['Age'] = train_beneficiary['Age'].fillna(
    round((pd.to_datetime('2009-12-01') - train_beneficiary['DOB']).dt.days / 365)
)
test_beneficiary['Age'] = test_beneficiary['Age'].fillna(
    round((pd.to_datetime('2009-12-01') - test_beneficiary['DOB']).dt.days / 365)
)

In [10]:
# Create a new 'AliveorDead' column and flag deceased beneficiaries
train_beneficiary['AliveorDead'] = train_beneficiary['DOD'].notna().astype(int)
test_beneficiary['AliveorDead'] = test_beneficiary['DOD'].notna().astype(int)

In [11]:
# Calculate number of days patient was admitted from AdmissionDt and DischargeDt

# Convert 'AdmissionDt' and 'DischargeDt' to datetime format
train_inpatient['AdmissionDt'] = pd.to_datetime(train_inpatient['AdmissionDt'], format='%Y-%m-%d')
train_inpatient['DischargeDt'] = pd.to_datetime(train_inpatient['DischargeDt'], format='%Y-%m-%d')
test_inpatient['AdmissionDt'] = pd.to_datetime(test_inpatient['AdmissionDt'], format='%Y-%m-%d')
test_inpatient['DischargeDt'] = pd.to_datetime(test_inpatient['DischargeDt'], format='%Y-%m-%d')

# Calculate the number of days of admission, adding 1 to include both the admission and discharge days
train_inpatient['NumberofDaysAdmitted'] = (train_inpatient['DischargeDt'] - train_inpatient['AdmissionDt']).dt.days + 1
test_inpatient['NumberofDaysAdmitted'] = (test_inpatient['DischargeDt'] - test_inpatient['AdmissionDt']).dt.days + 1

In [12]:
# Convert 'ClaimStartDt' and 'ClaimEndDt' to datetime format
train_inpatient['ClaimEndDt'] = pd.to_datetime(train_inpatient['ClaimEndDt'], format='%Y-%m-%d')
train_inpatient['ClaimStartDt'] = pd.to_datetime(train_inpatient['ClaimStartDt'], format='%Y-%m-%d')

test_inpatient['ClaimEndDt'] = pd.to_datetime(test_inpatient['ClaimEndDt'], format='%Y-%m-%d')
test_inpatient['ClaimStartDt'] = pd.to_datetime(test_inpatient['ClaimStartDt'], format='%Y-%m-%d')

# Duration of Claim
train_inpatient['DurationofClaim'] = (train_inpatient['ClaimEndDt'] - train_inpatient['ClaimStartDt']).dt.days
test_inpatient['DurationofClaim'] = (test_inpatient['ClaimEndDt'] - test_inpatient['ClaimStartDt']).dt.days

In [13]:
# Add column admitted

train_inpatient['Admitted'] =1
test_inpatient['Admitted'] =1

In [14]:
# Add column admitted

train_outpatient['Admitted'] = 0
test_outpatient['Admitted'] = 0

In [15]:
# Convert 'ClaimStartDt' and 'ClaimEndDt' to datetime format
train_outpatient['ClaimEndDt'] = pd.to_datetime(train_outpatient['ClaimEndDt'], format='%Y-%m-%d')
train_outpatient['ClaimStartDt'] = pd.to_datetime(train_outpatient['ClaimStartDt'], format='%Y-%m-%d')

test_outpatient['ClaimEndDt'] = pd.to_datetime(test_outpatient['ClaimEndDt'], format='%Y-%m-%d')
test_outpatient['ClaimStartDt'] = pd.to_datetime(test_outpatient['ClaimStartDt'], format='%Y-%m-%d')

# Duration of Claim
train_outpatient['DurationofClaim'] = (train_outpatient['ClaimEndDt'] - train_outpatient['ClaimStartDt']).dt.days
test_outpatient['DurationofClaim'] = (test_outpatient['ClaimEndDt'] - test_outpatient['ClaimStartDt']).dt.days

In [16]:
#Identify common columns between Outpatient and inpatient data

common_cols = list(set(train_inpatient.columns).intersection(set(train_outpatient.columns)))
print(common_cols)

['ClmDiagnosisCode_5', 'ClaimEndDt', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_7', 'OtherPhysician', 'DurationofClaim', 'ClmProcedureCode_3', 'ClmProcedureCode_2', 'DeductibleAmtPaid', 'BeneID', 'ClaimStartDt', 'ClmProcedureCode_6', 'ClaimID', 'Admitted', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_9', 'Provider', 'AttendingPhysician', 'ClmDiagnosisCode_6', 'ClmProcedureCode_4', 'ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_3', 'ClmProcedureCode_5', 'OperatingPhysician', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'InscClaimAmtReimbursed']

In [17]:
# Merge the DataFrames on the common columns, using an outer join

train_all_patient = pd.merge(train_outpatient, train_inpatient, on=common_cols, how='outer')
test_all_patient = pd.merge(test_outpatient, test_inpatient, on=common_cols, how='outer')

print(train_all_patient.shape)
print(test_all_patient.shape)

(558211, 33)
(135392, 33)

In [18]:
df_train = train_all_patient.merge(train_beneficiary, on='BeneID', how='inner')

df_test = test_all_patient.merge(test_beneficiary, on='BeneID', how='inner')

In [19]:
# shape of dataset
print('Training data shape: ', df_train.shape)
print('Test data shape: ', df_test.shape)

Training data shape:  (558211, 59)
Test data shape:  (135392, 59)

In [20]:
# Lets merge patient data with fradulent providers details data with "Provider" as joining key for inner join

df_train1 = pd.merge(train, df_train,on='Provider')

df_test1 = pd.merge(test, df_test,on='Provider')

In [21]:
# this value indicates whether the beneficiary has renal disease
df_train1['RenalDiseaseIndicator'] = df_train1['RenalDiseaseIndicator'].replace('Y','1')
df_train1['RenalDiseaseIndicator'] = df_train1['RenalDiseaseIndicator'].astype(int)
    
    
df_test1['RenalDiseaseIndicator'] = df_test1['RenalDiseaseIndicator'].replace('Y','1')
df_test1['RenalDiseaseIndicator'] = df_test1['RenalDiseaseIndicator'].astype(int)


# Drop DOD and DOB

df_train1 = df_train1.drop(columns=['DOB', 'DOD'], axis=1)
df_test1 = df_test1.drop(columns=['DOB', 'DOD'], axis=1)

In [22]:
df_train1.head()

,Provider,PotentialFraud,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,AliveorDead
0,PRV51001,No,BENE36012,CLM58316,2009-07-04,2009-07-08,36000,PHY340163,NaN,NaN,...,1,2,2,1,36000,1068,3520,140,69.0,0
1,PRV51001,No,BENE32715,CLM272936,2009-03-29,2009-03-30,500,PHY318842,PHY392882,NaN,...,1,2,2,2,2020,1068,6700,2700,74.0,0
2,PRV51001,No,BENE102690,CLM49733,2009-05-04,2009-05-18,42000,PHY383193,PHY378091,PHY389113,...,1,2,1,2,143800,4272,880,70,80.0,0
3,PRV51001,No,BENE98831,CLM36844,2009-02-03,2009-02-08,3000,PHY383193,NaN,NaN,...,1,2,1,2,3000,1068,0,0,75.0,0
4,PRV51001,No,BENE126477,CLM361230,2009-05-15,2009-05-15,200,PHY354616,PHY405310,PHY405310,...,1,2,1,2,0,0,690,150,70.0,0

In [23]:
# ClaimDiagnoseIndex, ClmProcedureIndex, ChronicCondIndex

df_train1['ClmDiagnosisCodeIndex'] = df_train1.filter(regex='ClmDiagnosisCode_').notnull().sum(axis=1)
df_test1['ClmDiagnosisCodeIndex'] = df_test1.filter(regex='ClmDiagnosisCode_').notnull().sum(axis=1)

df_train1['ClmProcedureCodeIndex'] = df_train1.filter(regex='ClmProcedureCode_').notnull().sum(axis=1)
df_test1['ClmProcedureCodeIndex'] = df_test1.filter(regex='ClmProcedureCode_').notnull().sum(axis=1)

In [24]:
# drop all features starting 

columns_to_drop = df_train1.filter(regex='ClmProcedureCode_|ClmDiagnosisCode_').columns
df_train1 = df_train1.drop(columns_to_drop, axis=1)
df_test1 = df_test1.drop(columns_to_drop, axis=1)

In [25]:
# fill nan for NumberofDaysAdmitted with 0

df_train1['NumberofDaysAdmitted'] = df_train1['NumberofDaysAdmitted'].fillna(0)
df_test1['NumberofDaysAdmitted'] = df_test1['NumberofDaysAdmitted'].fillna(0)

In [26]:
# df_train1 = df_train1.dropna(subset=['AttendingPhysician'])
# df_test1 = df_test1.dropna(subset=['AttendingPhysician'])

# Fill missing values with mean

df_train1['DeductibleAmtPaid'] = df_train1['DeductibleAmtPaid'].fillna(df_train1['DeductibleAmtPaid'].mean())
df_test1['DeductibleAmtPaid'] = df_test1['DeductibleAmtPaid'].fillna(df_test1['DeductibleAmtPaid'].mean())

In [27]:
df_train1.isna().sum()

Provider                                0
PotentialFraud                          0
BeneID                                  0
ClaimID                                 0
ClaimStartDt                            0
ClaimEndDt                              0
InscClaimAmtReimbursed                  0
AttendingPhysician                   1508
OperatingPhysician                 443764
OtherPhysician                     358475
DeductibleAmtPaid                       0
ClmAdmitDiagnosisCode              412312
Admitted                                0
DurationofClaim                         0
AdmissionDt                        517737
DischargeDt                        517737
DiagnosisGroupCode                 517737
NumberofDaysAdmitted                    0
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
Age                                     0
AliveorDead                             0
ClmDiagnosisCodeIndex                   0
ClmProcedureCodeIndex                   0
dtype: int64

In [28]:
to_drop = ['AttendingPhysician', 'Provider', 'BeneID' ,'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'AdmissionDt', 'DischargeDt', 'OperatingPhysician', 'OtherPhysician', 'ClmAdmitDiagnosisCode', 'DiagnosisGroupCode']
df_train1 = df_train1.drop(to_drop, axis= 1)
df_test1 = df_test1.drop(to_drop, axis= 1)

In [29]:
# convert target to numerical values (0, 1)

df_train1['PotentialFraud'] = df_train1['PotentialFraud'].replace({'No':0, 'Yes': 1})

C:\Users\Suchit\AppData\Local\Temp\ipykernel_19924\2735045153.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train1['PotentialFraud'] = df_train1['PotentialFraud'].replace({'No':0, 'Yes': 1})

In [30]:
df_train1.head()

,PotentialFraud,InscClaimAmtReimbursed,DeductibleAmtPaid,Admitted,DurationofClaim,NumberofDaysAdmitted,Gender,Race,RenalDiseaseIndicator,State,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,AliveorDead,ClmDiagnosisCodeIndex,ClmProcedureCodeIndex
0,0,36000,1068.0,1,4,5.0,1,1,0,1,...,2,1,36000,1068,3520,140,69.0,0,8,0
1,0,500,0.0,0,1,0.0,1,1,0,1,...,2,2,2020,1068,6700,2700,74.0,0,6,0
2,0,42000,1068.0,1,14,15.0,2,1,1,1,...,1,2,143800,4272,880,70,80.0,0,9,2
3,0,3000,1068.0,1,5,6.0,2,1,0,1,...,1,2,3000,1068,0,0,75.0,0,7,0
4,0,200,0.0,0,0,0.0,1,1,0,1,...,1,2,0,0,690,150,70.0,0,6,0

In [31]:
for x in df_train1.columns:
    df_train1[x] = df_train1[x].astype(float)

In [32]:
# Split data into train and validation set

df_train2 , df_val = train_test_split(df_train1, test_size=0.10)

y_train = df_train2.pop('PotentialFraud')
X_train = df_train2

y_val = df_val.pop('PotentialFraud')
X_val = df_val

X_test = df_test1


print(X_train.shape, X_val.shape, X_test.shape)

(502389, 31) (55822, 31) (135392, 31)

In [33]:
X_train.to_csv('X_train.csv', index= False, header= False)
y_train.to_csv('y_train.csv', index= False, header= False)
X_val.to_csv('X_test.csv', index= False, header= False)
y_val.to_csv('y_test.csv', index= False, header= False)